.Home {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #444444;
}

.wrapper {
    width: 75%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 1px 4px rgba(0, 0, 0, 0.34);
    position: relative;
    overflow: hidden;
}

.slid_container {
    background: black;
    width: 99%;
    height: 79vh;
    position: relative;
    z-index: 999;
    display: flex;
}

.wrapper:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 95vh;
    background: linear-gradient(0deg, transparent, transparent, #ffffff, #ffffff, #ffffff);
    left: -50%;
    top: -65%;
    transform-origin: bottom right;
    animation: anim 6s linear infinite;
    z-index: 1;
}

.wrapper:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 95vh;
    background: linear-gradient(0deg, transparent, transparent, #ffffff, #ffffff, #ffffff);
    left: -50%;
    top: -65%;
    transform-origin: bottom right;
    animation: anim 6s linear infinite;
    animation-delay: -3s;
    z-index: 1;
}

@keyframes anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.left_block {
    width: 55%;
    height: 100%;
    position: relative;
}

.top_slid_row {
    width: 100%;
    height: 79vh;
    position: relative;
    overflow: hidden;
}

.top_slid_row figure {
    width: 93.9%;
    position: absolute;
    cursor: pointer;
}

.top_slid_row figure img {
    width: 100%;
    object-fit: contain;
}

.point_block {
    width: 5%;
    position: absolute;
    z-index: 999;
    left: 5px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    max-height: max-content;

}

.point_block li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    list-style: none;
    margin: 0.3rem 0;
    cursor: pointer;
    background: blue;
    transition: all 0.8s;
}

.point_block li:first-child {
    margin: 0;
}

.point_block .active_point {
    transform: scale(1.4);
    background: black;
}

.active_top_img {
    overflow: hidden;
    z-index: 851;
    animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

.active_top_img img {
    transition: all 1.5s;
}

.active_top_img img:hover {
    transform: scale(1.2);
}

@keyframes swing-in-top-fwd {
    0% {
        transform: rotateX(-100deg);
        transform-origin: top;
        opacity: 1;
    }
    100% {
        transform: rotateX(0deg);
        transform-origin: top;
        opacity: 1;
    }
}

.right_block {
    width: 45%;
    padding: 1rem 0;
}

.right_block h1 {
    color: white;
    font-size: 28px;
}

.right_block p {
    color: white;
    margin-top: 1rem;
    max-width: 488px;
    text-align: left;
}

.Color_block {
    width: 100%;
    display: flex;
    padding: 1.5rem 0.2rem;
}

.Color_block li {
    width: 30px;
    height: 30px;
    margin: 0 0.3rem;
    border-radius: 15px;
    cursor: pointer;
    list-style: none;
    transition: all 0.4s;
}

.Color_block .active_color {
    border-radius: 5px;
    transform: scale(1.2);
}

.Size_block {
    padding: 0.2rem 0.2rem;
    display: flex;
    overflow: hidden;
}

.Size_block li {
    list-style: none;
    color: white;
    margin: 0 0.3rem;
    padding: 0.3rem 0.4rem;
    border: 1px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
}

.Size_block .active_size {
    border-radius: 50px;
    transform: scale(1.2);
    font-weight: 600;
}

.bottom_slid_row_container {
    width: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}



.left_icon {
    width: 40px;
    height: 40px;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    opacity: 0;
    border-radius: 12px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    max-height: max-content;
}

.left_icon span {
    width: 20px;
    height: 20px;
    position: relative;
    overflow: hidden;
    transform: rotate(-44deg);
    transition: all 1s linear;
}

.left_icon span:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: white;
    top: 0;
    left: -100%;
    animation: leftIconsLine ease-out 3s infinite both;
}

.left_icon span:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background: white;
    top: -100%;
    left: 0;
    animation: leftIconsLineOne ease-out 3s infinite both;
}
.right_icon {
    width: 40px;
    height: 40px;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    border-radius: 12px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    max-height: max-content;
    opacity: 0;
}
.right_icon span{
    width: 20px;
    height: 20px;
    position: relative;
    overflow: hidden;
    transform: rotate(130deg);
    transition: all 1s linear;
}
.right_icon span:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: white;
    top: 0;
    left: -100%;
    animation: rightIconsLine ease-out 3s infinite both;
}
.right_icon span:before{
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background: white;
    top: -100%;
    left: 0;
    animation: rightIconsLineOne ease-out 3s infinite both;
}
.bottom_slid_row_container:hover  .left_icon{
    animation: slide-in-blurred-left 0.9s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}
.bottom_slid_row_container:hover  .right_icon{
    animation: slide-in-blurred-right 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}
.bottom_slid_row {
    width: 100%;
    display: flex;
    padding: 0 0.3rem;
    overflow-x: scroll;
    margin-top: 1rem;
    position: relative;
}

.bottom_slid_row figure {
    width: 130px;
    margin: 0 0.3rem;
    cursor: pointer;
    border-radius: 20px;
    transition: all 0.5s;

}

.bottom_slid_row figure:first-child {
    margin: 0;
}

.bottom_slid_row figure img {
    width: 130px;
    border-radius: 20px;
    object-fit: cover;
}

.bottom_slid_row::-webkit-scrollbar {
    display: none;
}


.active_bottom_images {
    transform: scale(0.8);
}

@keyframes slide-in-blurred-left {
    0% {
        transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
        transform-origin: 100% 50%;
        filter: blur(40px);
        opacity: 0;
    }
    100% {
        transform: translateX(0) scaleY(1) scaleX(1);
        transform-origin: 50% 50%;
        filter: blur(0);
        opacity: 1;
    }
}
@keyframes leftIconsLine {
    0%{
        left: 100%;
    }
    100%{
        left: -100%;
    }
}
@keyframes leftIconsLineOne {
    0%{
        top: 100%;
    }
    100%{
        top: -100%;
    }
}
@keyframes rightIconsLine {
    0%{
        left: 100%;
    }
    100%{
        left: -100%;
    }
}
@keyframes rightIconsLineOne {
    0%{
        top: 100%;
    }
    100%{
        top: -100%;
    }
}
@keyframes slide-in-blurred-right {
    0% {
        transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
        transform-origin: 0% 50%;
        filter: blur(40px);
        opacity: 0;
    }
    100% {
        transform: translateX(0) scaleY(1) scaleX(1);
        transform-origin: 50% 50%;
        filter: blur(0);
        opacity: 1;
    }
}
